<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Home</ion-title>
    <!--make the notifications bell a click event that allows for a dropdown of notifications to appear~
    ~make icon change to different color when there is a notification.-->
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="logout()">
        <ion-icon name="exit" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding" color="warning">
  <!--in the content we want to have a slode show that shows all the pages that are contained in the app;
  we can display slides{chat, profile, news and academy};
these slides must be clickable then route to the pages of interest-->
  <ion-slides #slides
    (ionSlideDidChange)="runCheckForSlideIndex()"
    (ionSlideReachStart)="runSlideDidReachStart()"
    (ionSlideReachEnd)="runSlideDidReachEnd()"
    (ionSlideDrag)="runSlideDrag($event)"
    pager="true"
    [options]="slideConfig">
    <ion-slide>
      <img src="/assets/transparentLogo.png" />
    </ion-slide>
    <ion-slide (click)="newsPage()">
      <h3>news slide</h3>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        Officiis inventore unde ducimus numquam delectus rerum aspernatur minima debitis animi,
        et harum soluta libero.
        Excepturi ipsum quidem consequatur ducimus aut. Consectetur!</p>
    </ion-slide>
    <ion-slide>
      <h3>Mindworx Academy</h3>
      <img src="/assets/codingdoodle1.png" alt="codingDoodle2.png">
      <p>Check out, our programming and coding courses on the mindworx academy... </p>
    </ion-slide>
    <ion-slide (click)="chatPage()">
      <h3>Chat</h3>
      <img src="/assets/chatDoodle.png" />
      <p>Connect and chat with friends and academics...</p>
    </ion-slide>
    <ion-slide>
      <h3>about slide</h3>

      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis inventore unde ducimus numquam delectus rerum aspernatur minima debitis animi,
        et harum soluta libero.
        Excepturi ipsum quidem consequatur ducimus aut. Consectetur!</p>
    </ion-slide>
    <ion-slide (click)="weatherPage()">
      <h3>Weather Forecast</h3>
      <img src="/assets/doogle2Transparent.png" />
      <p>It could be cold...it could be raining... it could be sunny...
        click the button below to find the weather forecast of your location of interest...</p>
    </ion-slide>
  </ion-slides>
</ion-content>
