ion-searchbar{
    --border-radius:10px;
    --placeholder-color: #ffc409;
}
ion-card{
    --color:#f2f2f2;
    --border-radius:10px;
}
#temp{
    font-weight: 500;
    font-size: 4rem;
}
body {
    background-image: url("/assets/doogle1Transparent.png");
    //background-repeat: repeat-y;
    background-size: 100%;
  }
  #NoWeatherData{
    font-weight: 500;
    font-size: 1.5rem;
    display: flex;
    margin: 50px;
    justify-content: center;
    color: #f2f2f2;
  }