.profile-image>img{
  border-radius: 100%;
  object-fit: cover;
  object-position: center;
}

.profile-image{
  position: relative;
}
.profile-image>ion-button{
  position: absolute;
  bottom: 0px;
  right: 40%;
}
ion-input[type='file'] {
  opacity:0;
  position: absolute;
  bottom: 0px;
  right: 40%;
}
