<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>User Profile</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="form-container ion-text-center" *ngIf="user$|async as user" >
    <div class="profile-image">
      <img width="120" height="120" [src]="user.photoURL ??'/assets/profileICON.png'"/>
        <ion-fab>
          <ion-fab-button (click)="inputField.click()" size="small" fill="clear" padding>
            <ion-icon name="add-circle" size="large"></ion-icon>
          </ion-fab-button>
        </ion-fab>
    </div>
    <input  #inputField type="file" hidden (change)="uploadFile($event,user)">
    <form [formGroup]="profileForm" (ngSubmit)="saveProfile()" >
      <ion-item >
        <ion-input  type="text" formControlName="displayName" placeholder="Display Name"></ion-input>
      </ion-item>
      <ion-item >
        <ion-input  type="text" formControlName="first_name" placeholder="first name"></ion-input>
      </ion-item>
      <ion-item >
        <ion-input  type="text" formControlName="last_name" placeholder="last name" ></ion-input>
      </ion-item>
      <ion-item >
          <ion-input  type="email" formControlName="email" placeholder="email"></ion-input>
      </ion-item>
      <ion-button type='submit'>save</ion-button>
    </form>
  </div>
</ion-content>
