.profile-image>img{
  border-radius: 100%;
  object-fit: cover;
  object-position: center;
}

.profile-image{
  position: relative;
}
.profile-image>ion-fab{
  position: absolute;
  bottom: 0px;
  right: 40%;
}
