<ion-content [fullscreen]="true">
  <div class="flexCenter">
    <form [formGroup]="form">
    <ion-card>
      <ion-card-header>
        <ion-card-title color="warning">Touch-connect</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-item >
          <ion-label position="floating">Email</ion-label>
          <ion-input  type="email" formControlName="email" required></ion-input>
        </ion-item>

        <ion-item >
          <ion-label position="floating">Password</ion-label>
          <ion-input  type="password" formControlName="password" required></ion-input>
        </ion-item>

        <!--this button is for the forgot password page-->
        <ion-button color="dark" expand="block" fill="clear" [disabled]="!form.get('email').valid"
        [routerLink]="['']" >Forgot email/password</ion-button>

        <!--this is meant to be clicked then takes you to the applications features>> this is the login button-->
        <ion-button  type="submit" expand="block" color="warning" [disabled]="!form.valid" (click)="logIn()">
          Login
        </ion-button>

        <ion-button color="warning" expand="block" (click)="register()" >signup</ion-button>
      </ion-card-content>
    </ion-card>
  </form>
  </div>   
</ion-content>
